{
    "telegram": {
        "bot_access_token": "XXX",
        "channel_id": "XXX",
        "proxy": {
            "enabled": false,
            "socks_proxy": "socks5://xxx.xxx.xxx.xxx:xxx"
        }
    },
    "sources": {
        "The Go Blog": "https://go.dev/blog/feed.atom?format=xml",
    },
    "feed": {
        "title_char_limit": 200,
        "summary_char_limit": 300,
        "since_days_before": 1,
        "wait_per_entry_seconds": 0.1,
        "wait_per_source_seconds": 0.5
    }
}

