{
    "telegram": {
        "bot_access_token": "XXX",
        "channel_id": "XXX",
        "proxy": {
            "enabled": false,
            "socks_proxy": "socks5://127.0.0.1:56789"
        }
    },
    "sources": {
        "Cloudflare": "https://blog.cloudflare.com/rss"
    },
    "feed": {
        "title_char_limit": 200,
        "summary_char_limit": 300,
        "initial_days_before": 10,
        "sleep_interval_seconds": 86400,
        "wait_per_entry_seconds": 3,
        "wait_per_source_seconds": 5
    }
}